<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.order.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="io.order.model.Order">
    <!--@mbg.generated-->
    <!--@Table order_list-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="status_id" jdbcType="INTEGER" property="statusId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, order_id, status_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from order_list
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from order_list
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="io.order.model.Order" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into order_list (order_id, status_id)
    values (#{orderId,jdbcType=VARCHAR}, #{statusId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="io.order.model.Order" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into order_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="statusId != null">
        status_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="statusId != null">
        #{statusId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.order.model.Order">
    <!--@mbg.generated-->
    update order_list
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="statusId != null">
        status_id = #{statusId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.order.model.Order">
    <!--@mbg.generated-->
    update order_list
    set order_id = #{orderId,jdbcType=VARCHAR},
      status_id = #{statusId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-02-07-->
  <select id="selectByStatusId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from order_list
        where status_id=#{statusId,jdbcType=INTEGER}
    </select>
</mapper>